{{#each messagesInfo}}
    <div>
        <font style="color: rgb(130, 224, 127);"><strong>{{this.email}} </strong></font>
        <font style="color: rgb(135, 196, 224);">[{{this.horaenvio}}]</font>: 
        <font style="color: rgb(134, 125, 163);"><i>{{this.message}}</i></font>
    </div>
{{/each}}